.payment-j{
    margin: 100px 380px 100px 380px;
}
.paymentDiv-j{
    margin: 30px 50px 30px 50px;
}
.price-j{
    font-weight: bold;
}
.btnDiv-j{
    padding: 20px 120px;
}
.button-j{
    text-align: center;
    height: 50px;
    width: 300px;
}
.fontSpan-j{
    font-weight: bold;
}
.productDiv-j{
    display: flex;
    border-top: 2px solid black;
    margin-top: 10px;
}
.productName-j{
    margin: 10px;
    padding: 15px;
    width: 77%;
}
.productPrice-j{
    margin: 10px;
    padding: 15px;
    font-weight: bold;
    text-align: right;
    width: 23%;
}
.receiver-j{
    padding: 10px 50px 10px 10px;
}
.receiverInfo-j{
    padding: 10px;
}
.deliveryDiv-j{
    display: flex;
}
.buyerDiv-j{
    display: flex;
    margin-top: 10px;
    border-top: 2px solid black;
}
.buyer-j{
    padding: 10px 50px 10px 10px;
}
.buyerInfo-j{
    padding: 10px;
}
.delivery-j{
    margin-top: 10px;
    border-top: 2px solid black;
}
.payType-j{
    border-top: 2px solid black;
    margin-top: 10px;
}
.mini-j{
    padding: 5px;
}
.deliveryApi-j{
    margin: 10px;
}
.inputC-j{
    border: none;
    font-size: 18px;
}