
.option-j{
    margin: 100px 400px 100px 400px;
}
.btn-sub-j{
    height: 50px;
    width: 700px;
}
.btnDiv-j{
    display: flex;
    justify-content: space-around;
}
.spanTitle-j{
    font-size: 20px;
    font-weight: bold;
}
.spanFontSize-j{
    font-size: 20px;
}